<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style2.css">
        <title>Cargo</title>
    </head>
    
<body>
    <form method="POST">
        <label for="nome">Nome do Cargo:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>
        <input type="submit" value="Salvar"> 

    </form>

    <form action="../templates/index.html"> 
        <a type="but" class="btn" href="/voltar" >Voltar Tela principal</a>
    </form>
</body>
</html>
