<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Página Inicial</title>
    </head>
<body>
    <h1>Cadastro de Funcionário</h1>
    <ul>
        <li><a href="{{ url_for('cadastro_setor') }}">Cadastrar de Setor</a></li>
        <li><a href="{{ url_for('cadastro_cargo') }}">Cadastro de Cargo</a></li>
        <li><a href="{{ url_for('cadastro_funcionario') }}">Cadastro de Funcionário</a></li>
        <li><a href="{{ url_for('visualizar_funcionarios') }}">Visualizar Funcionários</a></li>

        
    </ul>
</body>
</html>
