{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css1.css' %}">
</head>
    
    <body>
        
        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
            <h1>Formulário Cadastro de Usuários</h1>
            <input type="text" placeholder="Username..." name="username">
            <br>
            <br>
            <input type="email" placeholder="Email..." name="email">
            <br>
            <br>
            <input type="password" placeholder="Senha..." name="senha">
            <br>
            <br>
            <input type="submit" value="cadastrar">
            <br>
            <br>
        </form>

    </body>    

</html>