{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css2.css' %}">
</head>

<body> 
    <h1>Escolha uma das opções abaixo:</h1>
    <button type="button" onclick="window.open('http://127.0.0.1:8000', '_blank')">ACESSAR A TELA DE CHAT</button>

    <button type="button" onclick="window.open('http://127.0.0.1:5000', '_blank')">CADASTRO DE FUNCIONÁRIOS</button>
    
    <br>
</body>
</html>
